<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <div>
    Countries : <%- countries.length %>
    <ul>
      <% countries.forEach(function(country) { %>
        <li><a href="/countries/<%= country.id %>"><%= country.name %></a></li>
      <% }); %>
    </ul>
  </div>
  <%- include('../form'); %>
</main>

</body>
</html>
